

:root{
    
    --text-color:#B5B8A6;
    --primary-color:#181715;
    --border-color:#4A463F;
    --body-color:#0E0E0E;
    --wrapper-color:#EBEAE6;
    --wrapper-background:#2a2626;
}
html{
    font-size: 16px;

}
.lightmode{
    --text-color:#282925;
    --primary-color:#dbd0bc;
    --border-color:#b1a897;
    --body-color:#dad5d5;
    --wrapper-color:#4c4c4a;
    --wrapper-background:#d1c3c3;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body{
    
    background-color: var(--body-color);
    max-height: 100vh;
    max-width: 100vw;
    overflow-x:hidden; 
    animation: opa 2s ease; 
}

#theme{
    color:var(--text-color);
    border: 0.063rem solid var(--border-color);  
    padding:1.25rem;
    border-radius: 5rem;
    width: fit-content;
    background-color: transparent;
}

#theme i{
    color:var(--text-color);
    font-size: 20px;
    cursor:pointer;
}
#theme i:last-child{
    display:none;
}
.lightmode #theme i:first-child{
    display:none;
}
.lightmode #theme i:last-child{
    display:block;
}
nav{
    width: 100vw;
    color:var(--text-color);
    margin-top:1rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size:1rem;
    margin:0.625rem;
    padding:1.25rem;
    >a{
        text-decoration: none;
        color:var(--text-color);
        >h1{
            font-family:"press start 2p";
            font-size:1rem;
        }
        }
    
    }
.animitia {
    border: 0.063rem solid var(--border-color);    
    padding:1.25rem;
    border-radius: 5rem;
    width: 12.5rem;
    display: flex;
    justify-content: center;
}

.title-page{
    color:var(--text-color);
    margin-top:6.25rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
#title{
   
    font-family: "Bebas Neue", serif;
    font-size: 5rem;
    font-weight: bolder;
    font-display: normal; 
}
.project-title{

    font-family: "Bebas Neue", serif;
    transition: font-size 0.1s ease, letter-spacing 0.1s ease;
    cursor:default;
}
.project-title:hover{
  
    letter-spacing: 2px;
}


.projects-container{
    color:var(--text-color);
    width: 100%;
    min-height: 37.5rem;
    display:flex;
    overflow-x: auto;
    padding-bottom: 10px;
 

 
}
.project, .project-info{

    min-width: 30.25rem;
    min-height: 30.25rem;
    margin: 0.313rem;
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    
}
.project{
    
    display:flex;
    justify-content: center;
    align-items: center;
}

.project-info{
    display:flex;
    flex-direction: column;
    align-content: start;
    justify-content: space-between;
    padding:1.25rem;
    text-align: justify;
    text-justify: inter-word;
    
}

.project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
 
}

.project img:hover{
    transform: scale(1.1);
   border: 1px solid var(--border-color);
    width: 700px;
    height:35.25rem ;
}


.project-title{
    margin-bottom: 20px;
}

#last-page{
    
    background-color: transparent;
    border:none;
    justify-content: end;
}

::-webkit-scrollbar-thumb{
    background: var( --border-color);
    border-radius: 20px;
   
    
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;

}

/*ONAIR*/
  .text-wrapper{
    
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    background-color:  var(--wrapper-background);
}.text-wrapper p {
    color: var(--wrapper-color);
    white-space: nowrap;
    padding: 0 1rem;
    letter-spacing: 1px;
    animation: move-rtl 5000ms linear infinite;
    font-family:"press start 2p";
}

.drag{
    color:var(--text-color);
    height: 200px;
    padding-top:80px;
    padding-left:20px; 
}


#button-stathis{
    color:var(--text-color);
    background:none;
    font-size: 50px;
    border:none;
    transition:letter-spacing 0.1s linear;
    cursor:pointer;
   
}
#button-stathis{
    font-weight: 700;
}
#button-stathis:hover{

 letter-spacing: 5px;
}
#something{

    padding-right: 5px;
    animation:blink 1s linear infinite;
    border-right: 3px solid var(--border-color);
    width: fit-content;
}
.audio{
    background-color:var(--footer-color);
    position: fixed;
    right:1%;
    bottom:5%;
    padding:5px;
    border-radius: 50%;
    border:none;
}
.drag p{
    font-weight: 900;
   
}
ul{
    display:flex;
    list-style-type: none;
    opacity: 0.5;
    
    margin-bottom:5px;
}
li{
    font-size: 15px;
    margin-right: 10px;
}
/*KEyframe1 RIght to left animation*/
@keyframes move-rtl{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes blink{
    to{
        border-right:var(--border-color);
    }
}
@media (max-width: 500px) {
 
  
    header{
        overflow-x: hidden;
    }
    html{
        font-size:18px;
    }
    .animitia{
        display:none;
    }
    .project img{
 
        transition: none;

    }
    .project, .project-info{
 
        min-width: 20.25rem;
        
    }
    .projects-container{
        overflow-x: hidden;
        margin-top:200px;
    }
    .title-page{
     flex-direction: column;
     overflow-x: hidden;
  }
  
 
  .projects-container{
    flex-direction: column;
    text-align: justify;
  }
 

#last-page{

    justify-content: start;

}

.project img:hover{
    transform: scale(0);
    border: 1px solid var(--border-color);
    width: 700px;
    height:35.25rem ;
}

}
@keyframes opa {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}
