:root{
    
    --body-color:#0E0E0E;
    --border-color1:#B5B8A6;
    --button-color:#B5B8A6;
    --text-color:#B5B8A6;
    --border-color2:#4A463F;
    --back-color-in-cards:#141412;
    --title-color:#DAC5A6;
    --drop-messageBtn-color:#E8D5B5;
    --footer-box-color:#808372;
    --footer-boxshadow-color:#EEF5CE;
    --email-text-color:#141412;
    --wrapper-background:#2a2626;
    --text-title:#0E0E0E;



}.lightmode{
    --border-color1:#b1a897;
    --border-color2:#b1a897;
    --button-color:#282925;
    --text-color:#282925;
    --back-color-in-cards:#dbd0bc;
    --title-color:#282925;
    --drop-messageBtn-color:#282925;
    --footer-box-color:#dbd0bc;
    --footer-boxshadow-color:#282925;
    --email-text-color:#282925;
    --body-color:#dad5d5;
    --wrapper-background:#d1c3c3;
    --text-title:#DAC5A6;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
body{
    background-color: var(--body-color);
    height: auto;
    animation: opa 2s ease;
}
/*PAGE1 START*/
/*NAV BAR*/
}.Nav-bar{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;

    >a{
        text-decoration: none;
    }
}.X-button{
    width: 3.5%;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid var(--border-color1);
    background-color: transparent;
    color: var(--button-color);
    >a{
        color: var(--text-color);
        text-decoration: none;
        opacity: 0.5;
    }
}.X-button:hover{
    color: var(--text-color);
    border: 1px solid var(--border-color1);
    >a{
        opacity: 1;
    }
}.Nav-bar h1{
    font-family: "press start 2p";
    font-size: 2rem;
    font-weight: 700;
    color:var(--text-color);
    text-align: center;
    margin-left: 0px;
}#theme{
    color:var(--text-color);
    border: 0.063rem solid var(--border-color1);  
    padding:1.25rem;
    border-radius: 5rem;
    width: fit-content;
    background-color: transparent;
}#theme i{
    color:var( --text-color);
    font-size: 20px;
    cursor:pointer;
}#theme i:last-child{
    display:none;
}.lightmode #theme i:first-child{
    display:none;
}.lightmode #theme i:last-child{
    display:block;
}

/*VIEW 1*/
.Homepage-1{
    padding: 100px;
    height: 93vh;
    display: flex;
    justify-content: space-around;

    #buttons{
        font-family: "Roboto Slab", serif;
        margin-top: 60px;
        
        >ul{
            list-style-type: none;
            >li{
                margin-top: 20px;
                >a{
                    color: var( --text-color);
                    text-decoration: none;
                    font-size: 1.5rem;
                }
            }
        }    
    }.Slideshow-Container{
        width: 30%;
        height:  100%;
        >p{
            font-family: "Roboto Slab", serif;
            text-align: center;
            padding-top: 20px;
            >a{
                color: var( --text-color);
                text-decoration: none;
                opacity: 0.5;
                
            }
        }
    }#Text-Right{
            margin-top: 60px;
            color: var( --text-color);
            font-family: "Roboto Slab", serif;
            >p{
                margin-top: 15px;
                font-size: 1.5rem;
            }
        }
}
/*SLIDE SHOW*/
.img-container{
    width: 100%;
    height:  100%;
    border-radius: 40px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    animation-name: animation;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;

}
/*  LEFT BUTTONS */
#buttons li:hover{
    transform: scale(1.5);
    text-decoration: underline;
    color: var( --text-color);
}.X-button:hover{
    cursor: pointer;
}.Get-inTouch-button{
    cursor: pointer;
}.Slideshow-Container:hover{
    >p{
        >a{
            opacity: 1;
        }
    }
}

/*ANIMATION TEXT*/
.text-wrapper{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    background-color: transparent;
    background-color:  var(--wrapper-background);
}.text-wrapper p {
    color: var( --text-color);
    white-space: nowrap;
    padding: 0 1rem;
    letter-spacing: 1px;
    animation: move-rtl 5000ms linear infinite;
    font-family:"press start 2p";
}
/*PAGE 1 END*/

/*PAGE 2  START*/
.intro-to-lain-header{
    height: 100vh;
    display: flex;
    margin-bottom: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    >p{
        color: var( --text-color);
        padding: 50px;
    }
    >h1{
        color: var( --text-color);
        font-size: 5em;
    }
}.arrow-btn i{
    font-size: 2rem;
    opacity: 0.5;
    color: var( --text-color);
    padding: 5px;
}.arrow-btn button{
    border-radius: 50px;
    border: 1px solid  var( --border-color1);
    background-color: transparent;
}.arrow-btn{
    display: flex;
    width: 10%;
    align-items: center;
    margin-left: 60px;
}.arrow-btn p{
    padding: 10px;
    color: var(--text-color);
}#elaina{
    opacity: 0.5;
}.lain-card-page{
    height: 85vh;
}#lain-card{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color2);
    background-color: var(--back-color-in-cards);
}.name{
    color: var(--text-color);
    opacity: 0.5;
    font-size: 1rem;
}.header{
    color: var(--text-color);
    font-family: "Roboto Slab", serif;
    font-size: 2.5rem;
    padding: 1em;
}.image-container-info img{
    width:30%;
    height: 500px;
    float: left;
    padding: 2%;
}.info{
        color: var(--text-color);
        font-family: "Roboto", serif;
        letter-spacing: 2px;
        font-size: 1.2rem;
        margin-top: 2%;
        padding: 15px;
}#socials{
    width: 75%;
    margin: auto;
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    >button{
        width: 32%;
        padding: 10px;
        font-family: "Roboto Slab", serif;
        border: 1px solid var(--border-color2);
        background-color: var(--back-color-in-cards);

        >a{
            color: var(--text-color);
            text-decoration: none;

        }
    }
}

#socials .contact:hover{
    background-color: var(--text-color);
    cursor: pointer;
    >a{
    color: var(--body-color);
}
}
/*PAGE 2 END`*/
/*PAGE 3 START*/
.more-about-page-title{
    margin-top: 20%;
    margin-bottom: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-family: "Roboto", sans-serif;
    color: var(--text-color);

    >h1{
        font-size: 5rem;
    }>p{
        opacity: 0.5;
        padding: 1em;
    }
}
.container{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}.group{
    display: flex;
    gap: 20%;
    align-items: center;
    justify-content: center ;
}.content{
    border: 1px solid var(--border-color2);
    background-color: var(--back-color-in-cards);
    width: 35%;

    >p{
        padding: 2em;
        color: var(--text-color);
        letter-spacing: 2px;
        font-family: "Roboto", sans-serif;
        font-size: 0.9rem;
    }
}.title{
    width: 20%;

    >p{
        font-family: "Roboto", sans-serif;
        padding: 15px;
        background-color: var(--title-color);
        letter-spacing: 3px;
        box-shadow: 5px 10px #4A463F;
        color: var(--text-title);
    }
}.collab-page{
    margin-top: 17%;
    margin-bottom: 15%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;


    .collab-btn{
        width: 100%;
        >button{
            font-family: "Roboto Slab", serif;
            width: 18%;
            border-radius: 35px;
            font-size: 1.1rem;
            border: 1px solid var(--drop-messageBtn-color);
            background-color: var(--back-color-in-cards);
            padding: 0.8em;
            opacity: 0.5;
            color: var(--text-color);
                opacity: 0.8;
    }
    
    }
    >h1{
        color: var(--text-color);
        font-size: 5rem;
        font-family: "Roboto", sans-serif;
        padding: 0.5em;
    }>p{
        opacity: 0.5;
        color: var(--text-color);
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
        padding: 1em;
        margin-bottom: 80px;
    }
}.collab-btn:hover{

    >button{
        opacity: 1;
        cursor: pointer;
    }


}

/*FOOTER*/
.foot{
    height: 40vh;
    display: flex;
    justify-content: space-between;
}.footer1{
    padding: 1rem;
    width: 70%;

    >p{
        color: var(--text-color);
        font-family: "Roboto Slab", serif;
    }
    >h1{
        color: var(--text-color);
        font-family: "Roboto Slab", serif;
        font-size: 5rem;
    }
}.text-info{
    font-family: "Roboto", sans-serif;
    padding-top: 30px;
    font-size: 1.2rem;
}.buttons{
    margin-top: 80px;

    >button{
        font-family: "Roboto Slab", serif;
        width: 20%;
        padding: 0.5em;
        border-radius: 35px;
        border: 1px solid var(--text-color);
        background-color: var(--back-color-in-cards);
        margin-right: 20px;
        >a{
            text-decoration: none;
            color: var(--text-color);
        }
    }
}
.contacts:hover{
        background-color: var(--text-color);
        cursor: pointer;
    >a{
        color: var(--body-color);
    }
}



.footer2{
    margin-top: 10px;
    height: 90%;
    width: 20%;
    margin-right: 40px;
    text-align: center;
    background-color: var( --footer-box-color);
    box-shadow: 10px 10px var( --footer-boxshadow-color);
}.email{
    padding-top: 140px;
    color: var(--email-text-color);
    font-size: 1.2rem;
}
/*KEYFRAMES*/
/* KEYFRAMES  PICTURE "ANIMATION"*/
@keyframes animation{
    1%{
        background-image: url(WhoisLain_imgs/Initial-D.gif);
    }50%{
        background-image: url(WhoisLain_imgs/Initial-D2.gif);
    }100%{
        background-image: url(WhoisLain_imgs/TG.gif);
    }
}/* RIght to left "move-rtl" */
@keyframes move-rtl{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}@keyframes opa {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

/*MEDIA QUARIES*/
@media (max-width: 800px){
    html{
        font-size: 9px;
    }

    .Nav-bar {
        width: 100%;
        justify-content: space-evenly;

        >a{
            >h1{
                color:#B5B8A6;
                font-size: 2rem;
        }
      
        
    

        text-align: center;
        margin-left: 80px;
        }
        .Get-inTouch-button{
            display: none;
        }.X-button{
            display: none;
        }
    }.Homepage-1{
        padding: 20px;
        height: 77vh;
        #buttons{
            display: none;
        }#Text-Right{
            display: none;
        }
        .Slideshow-Container{
            width: 80%;
            height: 80%;
            >p{
                font-size: 1.5rem;
            }
        }
    }
    .email{
        >p{
            font-size: 0.8rem;
        }
    }/*PAGE 2*/
    .intro-to-lain-header{
        margin-top: 10%;
        margin-bottom: 10%;
        height: 50vh;
        >h1{
            text-align: center;
            padding: 20px;
        }>p{
            padding: 20px;
        }.elaina{
            padding: 10px;
        }.arrow-btn{
            margin-left: 0px;
            margin-right: 20px;
            >p{
                text-align: center;
            }
        }
    }.image-container-info{
        .info{
            font-size: 0.9rem;
        }>img{
            width:50%;
            height: 300px;
            float: left;
            padding: 2%;
        }
    }
    .lain-card-page{

        #socials{
            flex-direction: column;
            >button{
                width: 100%;
                margin-top: 10px;

            }
        }
    }.more-about-page-title{
        margin-top: 80%;
        margin-bottom: 30%;
    }.container{

        #history-group{
            height: 30vh;
            flex-direction: column;
            position: relative;
            .content{
                position: absolute;
                width: 90%;
                bottom: 0%;
            }.title{
                width: 60%;
                top: 15%;
                position: absolute;
            }
        }#inspire-group{
            height: 30vh;
            flex-direction: column;
            position: relative;
    
            .content{
                position: absolute;
                width: 90%;
                bottom: 0%;
            }.title{
                width: 60%;
                top: 0%;
                position: absolute;
            }
        }#use-group{
            height: 30vh;
            flex-direction: column;
            position: relative;
    
            .content{
                position: absolute;
                width: 90%;
                bottom: 5%;
            }.title{
                width: 60%;
                top: 0%;
                position: absolute;
            }
        }
    }.collab-page{

        .collab-btn{
            margin-top: 0px;
            width: 100%;
            >button{
                width: 30%;
            }
        }
        >p{
            margin-bottom: 30px;
        }
    }
    
    
    
    .foot{
        padding: 5%;
        flex-direction: column;
        height: auto;
        position: relative;

        .footer1{
            width: 100%;
        .buttons{
                position: absolute;
                display: flex;
                margin-top: 20px;
                flex-direction: column;
                width: 33%;
                
                >button{
                    width: 100%;
                    margin-top: 20px;
                }
        }

        }

        .footer2{
            width: 50%;
            height: 150px;
            margin-left: 50%;

            .email{
                padding-top: 55px;
                >i{
                    font-size: 2rem;
                }>p{
                    font-size: 1.5rem;
                }
            }
        }
    }

}

/*SCROLL ANI*/
.reveal {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .reveal.appear {
    opacity: 1;
    transform: scale(1);
  }

